body { font-family: Arial; background-color: #002719; color: white; margin:0; padding:0; }
.container { padding: 15px; text-align:center; }
h1,h3 { margin: 10px 0; }
button { background-color:#ffffff; color:#002719; border:none; padding:8px 15px; margin:5px; border-radius:5px; cursor:pointer; }
button:hover { opacity:0.8; }
input[type="number"], select { padding:5px; border-radius:5px; border:none; margin:5px; text-align:center; }
label { display:block; margin-top:8px; }
